body {
    margin: 0;
    padding: 0;
}

#root {
    width: 750px;
    height: 750px;
    background: gray;
}
#container {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: white;
    border: 1px solid yellow;
}